/*================ Site Header ================*/
.site-logo {
  display: block;

  img {
    display: block;
    width: 100%;
  }
}

header {
  display: flex;
  align-items: center;

  .site-logo {
    display: flex;
    justify-content: flex-start;
  }

  nav {

    display: flex;
    justify-content: center;

    li {
      display: inline-block;
    }
  }

  .search-cart {
    display: flex;
    justify-content: flex-end;
  }
}

form {
  display: flex;
}

input {
  display: none;
}

#link:focus input {
  display:inline-block;
}

.parent ul {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
}

.parent:hover ul {
  display: block;
}
